localhost:80, nbts.designnorth.ie:80 {
    log {
        format console
        level DEBUG
    }

    @api {
        path_regexp api ^/api/.*
    }

    handle @api {
        root * /app/public
        rewrite * /index.php?{query}
        php_fastcgi php-fpm:9000
        encode gzip
    }

    handle {
        reverse_proxy * frontend:3000 {
            trusted_proxies private_ranges
            header_up Host {host}
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-For {remote_host}
            header_up X-Forwarded-Proto {scheme}
        }
    }
}